*{
	margin: 0;
	padding: 0;
}

#logo{
	width: 100px;
}

#logo img{
	width: 100%;
}
body{
	background: CornflowerBlue;
}

header {
	display: flex;
	background: darkSlateGray;
}

p{
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

#loupe{
	width: 40px;
	height: 40px;
}
#loupe img{
	height: 100%
}
.bibli_Publique{
	margin: auto;
	text-align: left;
	font-size: 24px;
}

.bibli_Perso{
	margin: auto;
	text-align: left;
	font-size: 24px;
}

.communauté{
	margin: auto;
	text-align: left;
	font-size: 24px;
}

.support{
	margin: auto;
	text-align: left;
	font-size: 24px;
}

	#recherche{
	margin: auto;
	text-align: left;
	height: 40px;
}

#recherche input{
	height: 35px;
    position: relative;
    top: -13px;
}



