*{
	margin: 0;
	padding: 0;
}

#logo{
	width: 100px;
}
#logo img{
width: 100%;
}
body{
	background: CornflowerBlue;
}

header {
	display: flex;
	background: darkSlateGray;
}

p{
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

.support{
	text-align: right;
}
